<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Activity
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> Registration</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.register.student"><i class="icon-puzzle"></i> Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.cards"><i class="icon-puzzle"></i> Bus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.forms"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.switches"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.tables"><i class="icon-puzzle"></i> Tables</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="icon-star"></i> Enrollment</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="icon-star"></i> Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.simplelineicons"><i class="icon-star"></i> Bus Route</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.route"><i class="icon-location-pin"></i>Route Planner<span class="badge badge-info">NEW</span></a>
            </li>
<!--
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.route')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{open: $state.includes('app.route')}" href="#">
                <i class="icon-location-pin"></i> Route Planner </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.route.add"><i class="icon-plus"></i> Add Route</a> </li>
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.route.update"><i class="icon-refresh"></i> Update Route</a> </li>
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.route.delete"><i class="icon-minus"></i> Delete Route</a> </li>
                </ul>
            </li>  
-->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.display')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{open: $state.includes('app.display')}" href="#">
                <i class="fa fa-area-chart fa-lg mt-1"></i> Reports </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.display.studentinfo"><i class="icon-map"></i> Student Report</a> </li>
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.route.update"><i class="icon-refresh"></i> Staff Report</a> </li>
                    <li class="nav-item"> <a class="nav-link" ui-sref-active="active" ui-sref="app.route.delete"><i class="icon-minus"></i> Bus Report</a> </li>
                </ul>
            </li>                      
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-pie-chart"></i> Reports</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.pages')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.pages')}" href="#"><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
